#log-in-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 50px;
}

.log-in-box {
  background-color: #fff;
  padding: 30px 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.log-in-box h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.log-in-box form {
  display: flex;
  flex-direction: column;
}

.log-in-box-titles {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

.text-input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0px 0px 10px rgba(102, 175, 233, 0.6);
}

.text-input::placeholder {
  color: #bbb;
}

.text-input[type="email"] {
  border-radius: 0px 0px 5px 5px;
}

#log-in-button {
  background-color: #003cbc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#log-in-button:hover {
  background-color: #002368;
}

.text {
  color: #333;
}
